.services {
    position: relative;
    width: 100%;
    height: 100vh;
}

.services img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}

.services .services-content {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}

.services .services-content .left-side {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-right: 50px;
    max-width: 400px;
}

.services .services-content .left-side h1 {
    font-size: var(--font-size-x-large);
    font-weight: lighter;
    font-family: fantasy;
    letter-spacing: 1px;
    color: var(--color-red);
}

.services .services-content .left-side p {
    font-family: var(--font-family-base);
    color: var(--color-white);
    font-size: var(--font-size-small);
}

.services .services-content .right-side {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
.services .services-content .right-side ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

/* .services .services-content .right-side ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

} */

.services .services-content .right-side ul li h2 {
    color: var(--color-red);
    font-family: fantasy;
    font-size: var(--font-size-medium);
    letter-spacing: 1px;
    font-weight: lighter;
}

.services .services-content .right-side ul li p {
    color: var(--color-white);
    font-family: var(--font-family-base);
    font-size: 1rem;
    max-width: 500px;
}