.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: transparent;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 3;
}


.logo {
    height: 50px;
    width: auto;
    position: absolute;
    z-index: 2;
    margin: 10px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--color-white);
    margin: 15px;
    font-weight: bold;
    font-size: var(--font-size-small);
    font-family: var(--font-family-base);
    transition: color 0.3s ease-out;
}

ul li a:hover {
    color: var(--color-red);
    cursor: pointer;
}

.checkbox {
    display: none;
}

@media screen and (max-width: 991px) {
    .navbar ul {
        display: none;
    }
    .header-container .menu-open-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        margin: 15px;
    }
    .header-container .menu-open-button .line-1,
    .header-container .menu-open-button .line-2,
    .header-container .menu-open-button .line-3 {
    content: "";
    height: 3px;
    width: 30px;
    background-color: var(--color-white);
    transition: transform 0.3s ease;
    }
    .checkbox:checked~.menu-open-button .line-1 {
        transform: rotate(-45deg) translate(-6px, 6px);
    }
    .checkbox:checked~.menu-open-button .line-2 {
        opacity: 0;
    }
    .checkbox:checked~.menu-open-button .line-3 {
        transform: rotate(45deg) translate(-6px, -6px);
    }
}