.header {
    position: absolute;
    padding: 1rem 10rem 0 4rem;
    z-index: 3;
    background: transparent;
    height: auto;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo a img {
    height: 50px;
    width: auto;
}

.nav {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    text-align: center;
}

.nav .nav-item a {
    color: var(--color-white);
    text-decoration: none;
    font-size: var(--font-size-small);
    font-family: var(--font-family-base);
    font-weight: bold;
    transition: color 0.3s ease-out;
    margin-left: 0;
}

.nav .nav-item+.nav-item {
    margin: 0 0 0 2rem;
}

.nav .nav-item a:hover {
    color: var(--color-red);
    cursor: pointer;
}

.checkbox {
    display: none;
}

@media screen and (max-width: 991px) {
    .navbar-menu ul {
        display: none;
    }

    .menu-open-button {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .menu-open-button .line-1,
    .menu-open-button .line-2,
    .menu-open-button .line-3 {
        content: "";
        height: 3px;
        width: 30px;
        background-color: var(--color-white);
        transition: transform 0.3s ease;
    }

    .checkbox:checked~.menu-open-button .line-1 {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .checkbox:checked~.menu-open-button .line-2 {
        opacity: 0;
    }

    .checkbox:checked~.menu-open-button .line-3 {
        transform: rotate(45deg) translate(-5px, -5px);
    }

    .checkbox:checked~.navbar-menu ul{
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 20px;
        position: absolute;
        transform: translate(-110px,20px);
        padding: 30px 60px 30px 60px;
        background-color: var(--color-black); 
        border-radius: 10px;
    }
    .nav .nav-item+.nav-item {
        margin: 0 0 0 0rem;
    }  
}